<div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-md-9 divCol">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                    <li class="breadcrumb-item active">Docent</li>
                </ol>
                <a class="btn btn-sm btn-info"> terug </a>
                <div class="jumbotron">
                    <h1>Docent</h1>
                    <p>Hier komt de inhoud van de Docenten.</p>
                </div>
                <router-outlet></router-outlet>
            </div>
              <div class="col-md-3 divCol" id="divColSideBar">
            <router-outlet name="docentmenu"></router-outlet>
            <h2>Docenten Menu</h2>
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Gebruikers Overzicht</a><br>
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Gebruiker aanmaken</a><br>
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Muziek Uploaden</a><br>
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Muziek Overzicht</a><br>
              </div>
        </div>
    </div>
   
