<div>
    <h1>Docent</h1>
    <h2>Aanmaken leerling</h2>
   <input [(ngModel)]="leerlingAanmaken.voornaam" placeholder="{{leerlingAanmaken.voornaam}}"><br>
   <input [(ngModel)]="leerlingAanmaken.tussenvoegsel" placeholder="Tussenvoegsel"><br>
    <input [(ngModel)]="leerlingAanmaken.achternaam" placeholder="Achternaam"><br>
    <input [(ngModel)]="leerlingAanmaken.gebruikersnaam" placeholder="Gebruikersnaam"><br>
    <input type ="password" [(ngModel)]="leerlingAanmaken.wachtwoord" placeholder="Wachtwoord"><br>
    <button (click)="postLeerling()">Opslaan</button>
</div>