<div>
    <h1>Muziek overzicht</h1>
    <button (click)="getMuziekstuk()">Alle muziekstuk</button><br>
    <button (click)="getMuziekstukById(muziekstukId = 1)">Muziekstuk met id 1</button><br><br>
    <p style="color: blue">muziekstuk ID {{ muziekstukId }}</p>
    <label>Voer bladmuzek ID in: </label><input [(ngModel)]="muziekstukId">
    <button (click)="getMuziekstukById(muziekstukId)">Haal muziekstuk van invoerveld op</button><br>
</div>
<div *ngIf="allMuziekstuk">
    <h2>Alle muziekstuk</h2>
    <ul>
        <li *ngFor="let muziekstuk of allMuziekstuk">{{ muziekstuk.artiest }} - {{ muziekstuk.titel }}</li>
        <!-- let = typescript versie van var (variabele)-->
    </ul>
</div>
<div *ngIf="muziekstuk">
    <h2>Muziekstuk met ID {{ muziekstukId }}</h2>
    <ul>
        <li>{{ muziekstuk.artiest }} - {{ muziekstuk.titel }}</li>
    </ul>
</div>