<h1>{{ title }}</h1>
<div>
    <h2>Ophalen muziekstuk (alles of per ID)</h2>
    <button (click)="getMuziekstuk()">Alle muziekstuk</button><br>
    <button (click)="getMuziekstukById(muziekstukId = 1)">Muziekstuk met id 1</button><br><br>
    <p style="color: blue">muziekstuk ID {{ muziekstukId }}</p>
    <label>Voer bladmuzek ID in: </label><input [(ngModel)]="muziekstukId">
    <button (click)="getMuziekstukById(muziekstukId)">Haal muziekstuk van invoerveld op</button><br>
</div>
<div *ngIf="allMuziekstuk">
    <h2>Alle muziekstuk</h2>
    <ul>
        <li *ngFor="let muziekstuk of allMuziekstuk">{{ muziekstuk.artiest }} - {{ muziekstuk.titel }}</li>
        <!-- let = typescript versie van var (variabele)-->
    </ul>
</div>
<div *ngIf="muziekstuk">
    <h2>Muziekstuk met ID {{ muziekstukId }}</h2>
    <ul>
        <li>{{ muziekstuk.artiest }} - {{ muziekstuk.titel }}</li>
    </ul>
</div>
<div>
    <h2>Upload info</h2>
    <input [(ngModel)]="muziekstukInvoer.titel" placeholder="Titel"><br>
    <input [(ngModel)]="muziekstukInvoer.artiest" placeholder="Artiest"><br>
    <input [(ngModel)]="muziekstukInvoer.omschrijving" placeholder="Omschrijving"><br>
    <input  id="xml" type="file" (change)="updateFile($event)" accept=".txt,.xml">
    <input  id="img" type="file" (change)="updateFile($event)" accept=".png, .jpg, .jpeg"> <!--accept voor img bestanden toevoegen-->
    <button (click)="postMuziekstuk()">Titel, artiest, omschrijving, xml opslaan</button>
</div>

<div>
    <label>Voer bladmuzek ID in: </label><input [(ngModel)]="muziekstukId">
    <button (click)="getMuziekstukById(muziekstukId)">Haal muziekstuk van invoerveld op</button><br>
    <label>Voer bladmuzek ID in: </label><input [(ngModel)]="muziekstukId">
    <button (click)="getMuziekstukXMLById(muziekstukId)">Haal XML van muziekstuk op</button><br>
    <label>Voer bladmuzek ID in: </label><input [(ngModel)]="muziekstukId">
    <button (click)="getMuziekstukImgById(muziekstukId)">Haal Pictogram van muziekstuk op</button><br>
</div>
<div *ngIf="muziekstuk">
    <h2>Muziekstuk met ID {{ muziekstukId }}</h2>
    <ul>
        <li>{{ muziekstuk.titel }} -XML: {{ muziekstuk.xml }}</li>
    </ul>
</div>

<div class="col-md-2 divCol">
    <h2>Image to Upload</h2>
    <img id="imgToUpload" src="" style="max-width: 100%;">
</div>
<div class="col-md-2 divCol">
    <h2>Image from Server</h2>
    <img id="imgFromServer" src="" style="max-width: 100%;">
</div>