input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #9f9f9f;
    display: inline-block;
    padding: 4px 8px;
    cursor: pointer;
    background: #008CBA;
}

.invoer {
    width: 75%;
    padding: 3px;
    margin: 3px;
}

#message {
    color: red;
}