<div>
    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
        <div class="container">
            <a class="navbar-brand">Rolling Sticks</a>
            <ul class="nav navbar-nav" routerLinkActive="active">
                <li class="nav-item"><a class="nav-link" routerLink="home"       routerlinkActive="active">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="docent"     routerlinkActive="active">Docent</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="leerling"   routerlinkActive="active">Leerling</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="loguit"     routerlinkActive="active">Uitloggen</a></li>
                 <li class="nav-item"><a class="nav-link" routerLink="verzoek"   routerlinkActive="active">verzoeken</a></li>
            </ul>
        </div>
    </nav>
    <br><br>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>
