#lesson-date {
  margin-bottom: 50px;
}

#cursor {
  border-right: 3px solid red;
  z-index: 2;  
  width: 2px;
  margin-left: 0px;
  margin-right: 4px;
}
/* ============================================*/
/*.bar is vertikaal scheidingsteken            */
/* ============================================*/
.bar {
  position: relative;
  display: inline-block;
  width: 2px;
  height: 32px;
  margin: 0px;
  /*testen voor margins naar rechts*/
  margin-right: 4px;
  margin-bottom: 48px;
  width: 2px;
  border-right: 1px solid black;
}

.bar.double,
.bar.end {
  border-left: 1px solid black;
}

.bar.end {
  float: right;
  border-right-width: 4px;
  margin-right: 0;
}

/* ============================================*/
/* Display background with lines               */
/* ============================================*/
.staff {
  font-size: 0;
  background-image: linear-gradient(180deg,
   #999 0,    #999 1px,  transparent 1px,  transparent 8px,
   #999 8px,  #999 9px,  transparent 9px,  transparent 16px,
   #999 16px, #999 17px, transparent 17px, transparent 24px,
   #999 24px, #999 25px, transparent 25px, transparent 32px,
   #999 32px, #999 33px, transparent 33px);
  background-size: 100% 80px;
}

/* ============================================*/
/* Notes general                               */
/* ============================================*/
.note {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 32px;
  margin-bottom: 48px;
}

/* ============================================*/
/* Set margins for notes to ensure width       */
/*   between bars is equal regardless of notes */
/* =========================================== */
.note.l1,
.note.whole {
  margin-left: 0px;
  margin-right: 116px;
}
.note.l2,
.note.half {
  margin-left: 0px;
  margin-right: 52px;
}
.note.l4,
.note.quarter {
  margin-left: 0px;
  margin-right: 20px;
}
.note.l8,
.note.quarter {
  margin-left: 0px;
  margin-right: 4px;
}

/* ============================================*/
/* Define size box circle of the note          */
/* =========================================== */
.note::before {
  height: 8px;
  width: 12px;
}

/* ============================================*/
/* Notes specific: whole                       */
/* =========================================== */
.l1.note::before,
.whole.note::before {
  position: absolute;
  content: "";
  box-sizing: border-box;
  border: 1px solid black;
  border-left-width: 4px;
  border-right-width: 4px;
  border-radius: 50%;
}

/* ============================================*/
/* Notes specific: half & quarter              */
/*   1/8 temp the same as quarter              */
/* =========================================== */
/* ::before is for circle at the bottom        */
.l2.note::before,
.l4.note::before,
.l8.note::before,
.half.note::before,
.quarter.note::before {
  position: absolute;
  content: "";
  transform: rotatez(-15deg);
  border-radius: 50%;
}
.l2.note::before,
.half.note::before {
  box-sizing: border-box;
  border: 1px solid black;
  /*border-top-width: 2.18181818px;
  border-bottom-width: 2.18181818px;*/
}
.l4.note::before,
.l8.note::before,
.quarter.note::before {
  background-color: black;
}

/* ============================================*/
/* ::after is for vertical staff               */
/* =========================================== */
.l1.note::after,
.l2.note::after,
.l4.note::after,
.l8.note::after,
.half.note::after,
.quarter.note::after {
  content: "";
  /*height: 28px;*/
  width: 1px;
  background-color: black;
  position: absolute;
   /* -24 met std lengte is streepje boven het balletje van de noot
       4 met std lengte is streepje onder het balletje van de noot
       Streep gaat ALTIJD van boven naar beneden!!*/
  top: 4px;
  right: 11px;
}

/* ============================================*/
/* ::after specifieke hoogte voor elke noot    */
/* Stokken eindigen dan op dezelfde hoogte     */
/* =========================================== */
.note.c6::after {
  height: 76px;
}
.note.b5::after {
  height: 72px;
}
.note.a5::after {
  height: 68px;
}
.note.g5::after {
  height: 64px;
}
.note.f5::after {
  height: 60px;
}
.note.e5::after {
  height: 56px;
}
.note.d5::after {
  height: 52px;
}
.note.c5::after {
  height: 48px;
}
.note.b4::after {
  height: 44px;
}
.note.a4::after {
  height: 40px;
}
.note.g4::after {
  height: 36px;
}
.note.f4::after {
  height: 32px;
}
.note.e4::after {
  height: 28px;
}
.note.d4::after {
  height: 24px;
}

/*vertikale verplaatsing stok*/
/**/
/* Door de top: #px wordt de vertikale positie van de stok aangepast.
   Op -24 (met std 28 lengte) levert een stok op die boven de noot begint
   Op 4 (met std 28 lengte) levert een stok op die onder de noot begint.
*/
/*.quarter.note.d5::after,
.half.note.d5::after,
.quarter.note.e5::after,
.half.note.e5::after,
.quarter.note.f5::after,
.half.note.f5::after,
.quarter.note.g5::after,
.half.note.g5::after {
  top: 4px;
}*/